/* General Classes */
body {
	color: #000000;
	font: 11px verdana, arial, sans-serif; 
	background-repeat: repeat;
	background-image: URL(bgcarbon.png);
}

td{
	padding: 3px;
}

th{
	padding: 4px;
	font-weight: bold;
}

/* Headings */
h1   {
	margin: 10px auto;
	width: 50%;
	padding: 4px;
	background-color: #444444;
	border: 2px solid #000000;
	color: #eeeeee;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	-khtml-border-radius: 1em;
}

h2   {
	margin: 8px auto;
	width: 40%;
	padding: 4px;
	background-color: #333333;
	border: 1px solid #000000;
	color: #dddddd; 
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	-khtml-border-radius: 1em;
}

h3   {
	color: #cccccc;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

h4   {
	color: #ffaa88;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 200px;
	border: 1px solid #ffaa88;
	margin-left: auto;
  	margin-right: auto;
	padding: 3px;
	background-color: #663300;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	-khtml-border-radius: 1em;
}

h5   {
	color: #aaff88;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 200px;
	border: 1px solid #aaff88;
	margin-left: auto;
  	margin-right: auto;
	padding: 3px;
	background-color: #336600;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	-khtml-border-radius: 1em;
}

/* Input Fields */
select {
	color: #662222;
}

input {
	color: #662222;
}

textarea {
	color: #662222;
}

/* Image Properties */
img{
	margin : 2px;
	vertical-align: middle;
	border: none;
}
img.bigbar{
	height : 16px;
	margin : 4px;
	vertical-align: middle;
	border: 1px solid #662222;
}
img.smallbar{
	height : 6px;
	margin : 1px;
	vertical-align: middle;
	border: 1px solid #662222;
}
img.panel{
	margin : 4px;
	box-shadow:1px 5px 5px #555;
}

/* Form Properties */
:focus {background-color: #f0f0a0}

/* Link Properties */
:link {color: #aa0000;text-decoration: none;}
:visited {color: #882200;text-decoration: none;}
:link:focus, :visited:focus {color: #cc6600}
:link:hover, :visited:hover {color: #ff4400}
:link:active, :visited:active {color: #dd8800}

/* Header table & Footer div*/
#header{
	width: 100%;
	border-spacing: 0px;
	background-color: #b61414;
}
/* Topmenu inspired by line25.com */
#nav {
	width: 520px;
}

#nav ul ul {
	display: none;
}

#nav ul li:hover > ul {
	z-index:100;
 	display: block;
}

#nav ul {
	margin : 0px;
	padding: 0px;
	list-style: none;
	position: relative;
	display: inline-table;
}
#nav ul:after {
	content: ""; clear: both; display: block;
}

#nav ul li {
	float: left;
}
#nav ul li:hover {
	border-top-left-radius:1em;
	border-top-right-radius:1em;
	background: #555;
}

#nav ul li:hover a {
	color: #dde;
}

#nav ul li a {
	display: block; padding: 5px 10px;
	color: #200;
}		
		
#nav ul ul {
	background: #767676; padding: 0;
	position: absolute; top: 100%;
}
#nav ul ul li {
	float: none; 
	white-space: nowrap;
	border-top: 1px solid #8B8B8B;
	border-bottom: 1px solid #676767;
}
#nav ul ul li a {
	padding: 5px 10px;
	color: #fff;
}	
#nav ul ul li a:hover {
	background: #b61414;
}
	
#nav ul ul ul {
	position: absolute; left: 100%; top:0;
}

#noodlebox{
	width: 20px;
	margin: -2px;
	background:#ccc;
	border-radius:1em;
	transition: 300ms ease-in-out, height 300ms ease-in-out;
}

#noodlebox:focus{
	width: 100px;
	background:#eee;
	transition: 300ms ease-in-out, height 300ms ease-in-out;
}

/* Actual Module */
table.content{
	width: 100%;
	border-spacing: 1px;
	background-color: #660000;
}

td.content{
	text-align: left;
}

td.helper{
	padding: 5px 10px;
	vertical-align: top;
}

table.fixed{
	table-layout:fixed;
}

.full{
	width: 100%;
}

.s{
	width: 40px;
}

.m{
	width: 100px;
}

.l{
	width: 180px;
}

.xl{
	width: 300px;
}

.lft{
	text-align: left;
}

.ctr{
	text-align: center;
}

.rgt{
	text-align: right;
}

.top{
	vertical-align:top;
}

.btm{
	vertical-align:bottom;
}

.b{
	font-weight: bold;
}

.nw{
	white-space: nowrap;
}

.genpad{
	background-color: #fff;
	border:1px solid black;
	border-radius: 6px;
	padding : 2px;
}

.textpad{
	margin: 8px auto;
	width: 70%;
	padding: 8px;
	border-spacing: 2px;
	border: 2px solid #eecc44;
	border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	-khtml-border-radius: 1em;
}

/* Font Properties */
.code{
	overflow: auto;
	text-align: left;
	padding: 10px;
	font-family: monospace;
	font: 11px Courier New, monospace;
	white-space: pre;
}

/* Scrollable list container */
.scroller{
	background-color: #aaaaaa;
	height:150px;
	width:100%;
	overflow: auto;
}

.red {color: red }
.drd {color: darkred }
.grn {color: green }
.blu {color: blue }
.prp {color: purple }
.blk {color: black }

.gry {color: grey }
.dgy {color: dimgrey }
.org {color: orange }
.mrn {color: maroon }
.sna {color: sienna }
.sbu {color: steelblue }
.olv {color: olive }

/* Text Fields */
.txta{background-color: #d0d0d0}
.txtb{background-color: #c0c0c0}

/* Image Fields */
.imga{background-color: #f0f0f0}
.imgb{background-color: #e6e6e6}
.imgw{background-color: #fff}

/* Status Fields */
.good{background-color: #44ff44}
.noti{background-color: #4444ff}
.warn{background-color: #ffff44}
.alrm{background-color: #ff8866}
.crit{background-color: #ff4444}
.part{background-image:url('../img/dia.png')}

/* Default Group Based Module Colors */
.adm1, .net1, .dsk1, .mon1, .mgr1, .oth1, .usr1{
	background-image: URL(bgruby.png)
}

.adm2, .net2, .dsk2, .mon2, .mgr2, .oth2, .usr2{
	background-color: #901010
}

#footer{
	margin: 20px auto;
	width:50%;
	border: 1px solid #660000;
	padding: 8px;
	text-align: right;
	color: #ee8888;
	background-color: #b61414;
}
